/* 35rem is also 560px when basefont is 16px*/
@media only screen and (min-width: 35rem) {
  header nav button {
    display: none;
  }
  header div h1 {
    font-size: 2.2rem;
  }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  div.logo,
  div.social {
    margin-top: 1rem;
  }
  .fa {
    /* padding: 15px 12px; */
    justify-content: center;
    width: auto;
  }
  .social a {
    align-items: center;
    margin: 0;
  }
  header nav {
    grid-column: 1/3;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
  }
  header div.social {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    align-items: center;
  }
  header div.logo{
    margin-left: 1rem;
  }

  header nav ul#primaryNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  header nav ul li a {
    border-top: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem 0;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 0; */
    padding: 0;
    row-gap: 10px;
  }
  main div h3{
    padding: 1rem 0;
  }
  div.hero {
    grid-column: 1/3;
    /* margin-top: 1rem; */
  }
  div.summary {
    grid-column: 1/3;
    line-height: 1.5;
  }
  div.fresh {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 0 1rem;
    margin-right: 5px;
  }
  div.weather {
    grid-column: 2/3;
    margin-left: 5px;
    line-height: 1.5;
  }
  div.drinks {
    grid-column: 1/3;
    padding: 0 1rem;
    /* margin-bottom: 1rem; */
  }

  /*---------------FORM-------------------*/

  form span {
    display: inline;
  }
  form {
    grid-column: 1/4;
    margin: 0 1rem;
    font-size: 1.3rem;
  }
  form fieldset legend {
    margin-left: 1rem;
  }
  p.fresh{
    grid-column: 1/3;
    margin: 1.6rem 0 0 0;
  }

  /*----------------aboutUs--------------------*/
  main {
    font-size: 1.2rem;
  }
  .about-us,
  .contact-us {
    grid-column: 1/3;
    margin: 1rem auto 0.5rem;
  }

  /*-------------Footer----------------------*/
  footer{
    line-height: 1.5;
  }
  footer h3{
    padding-bottom: 1rem;
  }
}
