/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Ysabeau+Office:ital,wght@0,100;0,300;0,600;1,400&display=swap");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #f4ffe5;
  --secondary-color: #99cc00;
  --accent1-color: #cc3366;
  --accent2-color: #4b5555;
  --accent3-color: #001d4a;

  /* change the values below to your chosen font(s) */
  --heading-font: "Pacifico", cursive;
  --paragraph-font: "Ysabeau Office", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #99cc00; /* headlines on a white background */
  --headline-color-on-color: #f4ffe5; /* headlines on a colored background */
  --paragraph-color-on-white: #4b5555; /* paragraph text on a white background */
  --paragraph-color-on-color: #4b5555; /* paragraph text on a colored background */
  --paragraph-background-color: #99cc00;
  --nav-link-color: #4b5555;
  --nav-background-color: #99cc00;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #cc3366;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

/*----------------------BODY------------------------*/

body {
  max-width: 960px;
  margin: 0 auto;
  /* padding: 4em; */
  font-size: 18px;
  text-align: center;
  background-color: var(--headline-color-on-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
  size: .6rem;
  margin: 0 0 0 .6rem;
}
h2 {
  text-align: center;
  margin: 1rem;
}
/* hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
} */

/*---------------------HEADER-----------------------*/

header,
footer {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
  position: relative;
}

header div.logo {
    display: flex;
    align-items: center;
    margin-top: .6rem;
}

header div.social{
    text-align: left;
    margin: .8rem 0;
}

.fa {
  padding: 10px 4px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #cb2027;
  color: white;
}

header img,
footer img {
  width: 60px;
}

header nav button {
  margin: 0.2rem 2vw;
  background: var(--headline-color-on-color);
  border: none;
  font-size: 2rem;
  color: #555;
  position: absolute;
  top: 100px;
  right: 2%;
}

header nav {
  background-color: var(--headline-color-on-color);
  width: 100%;
  margin-top: 1rem;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

header nav ul li.active a {
  background-color: var(--accent1-color);
  color: #fff;
}

header nav ul li a:hover {
  background-color: var(--accent1-color);
  color: var(--primary-color);
}

header nav ul {
  display: none;
}

header nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/*-------------------MAIN-----------------------*/

main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 1rem 0.5rem;
}

main div {
  border: solid 1px rgba(0, 0, 0, 0.5);
  width: 96%;
  margin: 0 auto;
}

main div h3 {
  color: var(--headline-color-on-white);
}

main div.summary p {
  padding: 1rem;
}

main div picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main div ul {
  list-style-type: none;
}

main div ul li {
    text-align: center;
}

/*----------------fresh.html----------------------*/
/* form {
  grid-column: 1/4;
} */
form fieldset {
  margin: 1rem 0;
  border: 1px solid var(--accent1-color);
  border-radius: 10px;
  padding: 0.5rem 2%;
  font-size: 1rem;
}

form legend {
  color: var(--accent1-color);
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: var(--accent1-color);
  font-size: 0.8rem;
  border: none;
  background-color: var(--headline-color-on-color);
  text-align: left;
}

form label.top input,
form label.top textarea,
form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 90%;
  max-width: 20rem;
  background-color: white;
  /* margin: 0 auto; */
}

/* form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
} */

form input.submitBtn {
  border: none;
  background-color: var(--accent1-color);
  color: var(--headline-color-on-color);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 0;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

form span {
  display: none;
}
/*--------------------------About-us-------------------*/

div.contact-us {
    text-align: left;
}
div.contact-us h3 {
    margin: 1rem 1rem;
}
div.contact-us a {
    margin-left: 1rem;
}
div.contact-us iframe {
    display: block;
    margin: 1rem auto;
    width: 98%;
}

div.about-us h2, div.contact-us h2{
    color: var(--headline-color-on-white);
}

div.about-us p, div.contact-us p{
    padding: 0 1rem;
    margin: .8rem 0;
}